/* --------------------------------------- */
/* Common styles for index and detail page */
/* --------------------------------------- */

.hsr body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hsr header {
    /* layout */
    flex-direction: row;
    justify-content: space-between;

    /* styles */
    background: rgb(0, 80, 146);
    color: white;
}

.hsr footer {
    /* layout */
    justify-content: flex-start;

    /* styles */
    border-top: 1px solid rgb(0, 80, 146);
}

.hsr button {
    background: rgb(0, 80, 146);
    color: white;
    border: 1px solid rgb(0, 80, 146);
    border-radius: 3px;
}
.hsr .button--red {
    color: red;
}

.hsr .button-image {
    display: none;
}

/* ---------------------------------------------------------------------- */
/* Static part of the index page (title, toolbar for buttons and options) */
/* ---------------------------------------------------------------------- */

.hsr .toolbar-container {
    background: rgb(204, 220, 233);
    color: rgb(0, 80, 146);
}

.hsr input[type="radio"],
.hsr #filtershowfinished {
    display: none;
}

.hsr input[type="radio"] ~ span,
.hsr #filtershowfinished ~ span {
    border: 1px solid rgb(0, 80, 146);
    border-radius: 3px;
}

.hsr input[type="radio"]:checked ~ span,
.hsr #filtershowfinished:checked ~ span {
    background: rgb(0, 80, 146);
    color: white;
}

/* ---------------------------------------------- */
/* Dynamic part of the index page (list of notes) */
/* ---------------------------------------------- */

.hsr article {
    border-bottom: 1px solid rgb(204, 220, 233);
}

.hsr article:hover {
    background-color: rgb(204, 220, 233);
}

.hsr .note--finished {
    color: darkgrey;
}

/* -------------------------- */
/* Styles for the detail page */
/* -------------------------- */

.hsr .buttonbar-container {
    /* layout */
    justify-content: flex-start;

    /* styles */
    background: rgb(204, 220, 233);
}
