@import "author-styles.css";
@import "hsr-styles.css";

/* --------------------------------------- */
/* Common styles for index and detail page */
/* --------------------------------------- */

/* Some resets */
* {
    padding: 0;
    margin: 0;
}

header {
    /* layout */
    display: flex;
    align-items: center;

    /* styles */
    padding: 0.5em;
}

footer {
    /* layout */
    display: flex;
    flex-direction: row;

    /* styles */
    padding: 0.5em;
}

button {
    /* layout */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* styles */
    font-family: inherit;
    font-size: inherit;

    margin: 0.1em;
    padding: 0.2em;
}

p {
    font-style: italic;
    white-space: pre-wrap;
}

.font--bold {
    font-weight: bold;
}

.font--smaller {
    font-size: 0.7em;
}

.font--red {
    color: red;
}

.border--red {
    border-color: red;
}

.cursor--pointer {
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */
/* Static part of the index page (title, toolbar for buttons and options) */
/* ---------------------------------------------------------------------- */

.toolbar-container {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    /* styles */
    padding: 0.5em;
}

label > input[type="radio"] ~ span,
label > input[type="checkbox"] ~ span {
    padding: 0.2em;
}

#newbutton {
    flex-direction: row;
}

/* ---------------------------------------------- */
/* Dynamic part of the index page (list of notes) */
/* ---------------------------------------------- */

.note-container {
    display: flex;
    flex-direction: row;
}

.note-column-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 12em;
}

.note-column-middle {
    flex: auto;
}

.note-column-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

article {
    padding: 0.5em;
}

article:last-child {
    border-bottom: none;
}

details[open] p {
    animation-name: increasing-font-size;
    animation-duration: 500ms;
    animation-delay: 0ms;
}

@keyframes increasing-font-size {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 1em;
    }
}

/* -------------------------- */
/* Styles for the detail page */
/* -------------------------- */

form {
    /* layout */
    display: flex;
    flex-direction: column;

    /* styles */
    background: white;
    padding: 10px;
}

textarea {
    font-family: inherit;
    min-height: 100px;
}

.label-field-pair {
    /* layout */
    display: flex;
    flex-direction: row;

    /* styles */
    padding: 0.2em;
}

.input-field-label {
    flex: 1;
}

.input-field {
    flex: 4;
}

.buttonbar-container {
    /* layout */
    display: flex;
    flex-direction: row;

    /* styles */
    padding: 10px;
}
