@import "common-styles.css";

/* --------------------------------------- */
/* Common styles for index and detail page */
/* --------------------------------------- */

body {
    font-family: Calibri, Helvetica, sans-serif;
    margin: 1em;
    background: url('../images/background.png') repeat;
}

header {
    /* layout */
    flex-direction: column;

    /* styles */
    background: linear-gradient(to bottom, #9ae4ff, aliceblue);

    border-top: 2px solid deepskyblue;
    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer {
    /* layout */
    justify-content: center;

    /* styles */
    background: linear-gradient(to top, #9ae4ff, aliceblue);

    border-bottom: 2px solid deepskyblue;
    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    background: aliceblue;
    border: 2px solid #9ae4ff;
    border-radius: 10px;
}
button:hover {
    background: #9ae4ff;
    transition: 1s;
}

/* ---------------------------------------------------------------------- */
/* Static part of the index page (title, toolbar for buttons and options) */
/* ---------------------------------------------------------------------- */

.toolbar-container {
    background: aliceblue;

    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;
}

/* ---------------------------------------------- */
/* Dynamic part of the index page (list of notes) */
/* ---------------------------------------------- */

article {
    background: white;

    border-bottom: 1px dashed #9ae4ff;
    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;
}
article:hover {
    background-color: aliceblue;
    transition: 0.5s;
}

/* -------------------------- */
/* Styles for the detail page */
/* -------------------------- */

form {
    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;
}

.buttonbar-container {
    /* layout */
    justify-content: center;

    /* styles */
    background: white;

    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;
}
