#detailpagetitle {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
}
.labelvaluepair {
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.labelitem {
    flex: 1;
}
.valueitem {
    flex: 4;
}

#detailbuttonbar {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
}
