@import "common-styles.css";

/* --------------------------------------- */
/* Common styles for index and detail page */
/* --------------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: rgb(0, 80, 146);
    color: white;
}

footer {
    justify-content: flex-start;
    border-top: 1px solid rgb(0, 80, 146);
}

button {
    background: rgb(0, 80, 146);
    color: white;
    border: 1px solid rgb(0, 80, 146);
    border-radius: 3px;
}

.buttonimage {
    display: none;
}

.pagetitle {
    justify-content: space-between;
}

/* ---------------------------------------------------------------------- */
/* Static part of the index page (title, toolbar for buttons and options) */
/* ---------------------------------------------------------------------- */

#toolbarcontainer {
    background: rgb(204, 220, 233);
    color: rgb(0, 80, 146);
}

input[type="radio"],
#filtershowfinished {
    display: none;
}

input[type="radio"] ~ span,
#filtershowfinished ~ span {
    border: 1px solid rgb(0, 80, 146);
    border-radius: 3px;
    cursor: pointer;
}

input[type="radio"]:checked ~ span,
#filtershowfinished:checked ~ span {
    background: rgb(0, 80, 146);
    color: white;
}

/* ---------------------------------------------- */
/* Dynamic part of the index page (list of notes) */
/* ---------------------------------------------- */

article {
    border-bottom: 1px solid rgb(204, 220, 233);
}
article:hover {
    background-color: rgb(204, 220, 233);
}

/* -------------------------- */
/* Styles for the detail page */
/* -------------------------- */

#detailbuttonbar {
    justify-content: flex-start;
    background: rgb(204, 220, 233);
}
