/* Static part of the index page (title, toolbar for buttons and options) */
#indexpageheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#indexpagetitle {
    display: flex;
    justify-content: center;
}
#toolbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid black;
    padding: 10px;
}
#newbutton {
    flex-direction: row;
}

/* Dynamic part for the notes */
.notecontainer {
    display: flex;
    flex-direction: row;
}
article {
    border-bottom: 1px dashed black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
}
article:last-child {
    border-bottom: none;
}
article:hover {
    background-color: aliceblue;
}
.notecolumnleft {
    flex: 0 0 200px;
}
.notecolumnmiddle {
    flex: 6;
}
.notecolumnright {
    flex: 0 0 120px;
    text-align: right;
}
.noteduedate {
    font-weight: bold;
}
.notesummary {
    font-weight: bold;
    cursor: pointer;
}
p {
    font-style: italic;
}
